/*__________ GENERAL __________*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  font-weight: normal;
}

p {
  max-width: 50ch;
}

/*__________ MOBILE (FIRST, YOU RASCAL!) __________*/

/*__________ TABLET __________*/
@media only screen and (min-width: 481px) {
}

/*__________ WEB (SMALLER SCREENS) __________*/
@media only screen and (min-width: 769px) {
}

/*__________ WEB __________*/
@media only screen and (min-width: 1025px) {
}
