---
import Mainlayout from "../layouts/Mainlayout.astro";
---

<Mainlayout title="Welcome">
  <h1>Que Pasa Papi</h1>
  <h2>This section is currently undergoing maintenance. Our minions are working hard on providing you with meaningful content :)</h2>
</Mainlayout>
