---
import Mainlayout from "../layouts/Mainlayout.astro";
import Popup from "../components/Popup.astro";
import SummerBundle from "../components/SummerBundle.astro";
import Slideshow from "../components/Slideshow.astro";
import Couple from "../components/Couple.astro";
import Recipes from "../components/Recipes.astro";
import SoMe from "../components/SoMe.astro";
---

<Mainlayout title="Welcome">
  <Popup />
  <SummerBundle>
    <Slideshow />
  </SummerBundle>
  <div class="catchPhrase">
    <p class="foodFriends">Good food. Good friends.</p>
    <p class="times">Good times.</p>
  </div>
  <Couple variant="left" img="img/tapasTogether.webp" title="autentisk" alignment="start">
    <h4>Vær i nuet og nyd spansk tapas og gode stunder med dine venner!</h4>
    <p>Autentiske venskaber fortjener autentiske madvarer. Sidstnævnte har vi sikret gennem velovervejede samarbejder med passionerede tapasproducenter <br /> - venskaberne sørger du for.</p>
  </Couple>
  <Couple variant="right" img="img/spainNew.webp" title="spansk" order="second" alignment="end">
    <div class="toTheRight">
      <h4>Oplev Spaniens fantastiske madunivers, sociale ånd og solrige kyster!</h4>
      <p>Altsammen fra et valgfrit sted i Danmark. Vores Summer Bundle er perfekt til picnic, strandture eller hjemme i haven. Que Pasa Papi sikrer de gode stunder <br /> - uanset hvor du er.</p>
    </div>
  </Couple>
  <Recipes />
  <SoMe />
  <script src="../scripts/script.js"></script>

  <style>
    .catchPhrase {
      margin-left: 10%;
      font-size: 1.5rem;
      font-weight: bold;
      margin-block: 5rem;
    }

    .times {
      color: #d1e756;
    }

    /*__________ WEB (SMALLER SCREENS) __________*/
    @media only screen and (min-width: 769px) {
      .catchPhrase {
        display: flex;
        justify-content: center;
        gap: 0.7rem;
        margin-left: 0;
        margin-block: 10rem;
      }

      .foodFriends,
      .times {
        font-size: 2.5rem;
      }

      h4 {
        font-size: 2rem;
        max-width: 50%;
      }

      p {
        font-size: 1.2rem;
      }

      .toTheRight {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
      }
    }

    /*__________ WEB __________*/
    @media only screen and (min-width: 1025px) {
      .foodFriends,
      .times {
        font-size: 3rem;
      }
    }
  </style>
</Mainlayout>
