---
import Mainlayout from "../layouts/Mainlayout.astro";
import Slideshow from "../components/Slideshow.astro";
import SummerBundle from "../components/SummerBundle.astro";
import Hero from "../components/Hero.astro";
---

<Mainlayout title="Welcome">
  <Hero />
  <h1>Que Pasa Papi</h1>
  <Slideshow />
  <SummerBundle />
</Mainlayout>
