---
const { variant, link, title } = Astro.props;
---

<div class="buttonContainer">
  <button class={variant}>
    <a href={link}>{title}</a>
  </button>
</div>

<style>
  .buttonContainer {
    display: flex;
    justify-content: center;
  }
  button {
    font-size: 1.25rem;
    padding: 0.5rem 3.5rem;
    cursor: pointer;
    border: none;
    text-transform: uppercase;
  }
  button a {
    color: black;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
  }

  .primary {
    background-color: #d1e756;
    border: 2px solid transparent;
  }
  .primary:hover {
    background-color: black;
    border: 2px solid black;
  }

  .primary:hover a {
    color: #d1e756;
  }

  .secondary,
  .secondaryMedium,
  .secondaryBig {
    background-color: transparent;
    border: 2px solid black;
    font-size: 1rem;
    padding: 0.25rem 1rem;
  }

  .secondary {
    font-size: 1rem;
  }

  .secondaryMedium {
    font-size: 1rem;
    margin-top: 0.5rem;
  }

  .secondaryBig {
    font-size: 1.5rem;
  }

  .secondary:hover,
  .secondaryMedium:hover,
  .secondaryBig:hover {
    background-color: #d1e756;
  }

  .secondary:hover a {
    color: black;
  }

  @media only screen and (min-width: 769px) {
    .secondaryMedium {
      font-size: 1.5rem;
    }
  }
</style>
