---
---

<footer>
  <div class="footerUnderline"></div>
  <h4>Shop</h4>
  <a target="_blank" href="https://quepasapapi.com/collections/shop-all">Shop All</a>
  <h4>Information</h4>
  <a target="_blank" href="https://quepasapapi.com/pages/about-us">About Us</a>
  <a target="_blank" href="https://quepasapapi.com/da/pages/faqs">FAQ</a>
  <a target="_blank" href="https://quepasapapi.com/da/pages/purpose">Our Purpose</a>
  <a target="_blank" href="https://quepasapapi.com/da/pages/reviews">Reviews</a>
  <a target="_blank" href="https://www.findsmiley.dk/974545">Smiley Reports</a>
  <h4>Newsletter</h4>
  <form action="subscribe.php" method="POST">
    <input class="email" type="email" id="email" name="email" placeholder="E-mail address" required />
    <input class="subscribe" type="submit" value="SUBSCRIBE" />
  </form>
  <div class="SoMe">
    <a target="_blank" href="https://www.facebook.com/quepasapapiofficial"><i class="fa-brands fa-facebook"></i></a>
    <a target="_blank" href="https://www.instagram.com/quepasapapiofficial/"><i class="fa-brands fa-instagram"></i></a>
  </div>
  <p class="copyright">© 2023, Que Pasa Papi All rights reserved Terms & conditions Privacy Policy Cookies</p>
</footer>

<style>
  * {
    font-family: "Poppins", sans-serif;
  }
  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-inline: 10%;
    padding-bottom: 5rem;
  }

  .footerUnderline {
    background-color: black;
    height: 2px;
  }

  .email {
    width: 90%;
    padding: 0.5rem 1rem;
    border: 2px solid rgb(236, 236, 236);
    height: 2.5rem;
  }

  .subscribe {
    font-size: 1.25rem;
    padding-block: 0.5rem;
    width: 90%;
    cursor: pointer;
    border: none;
    text-transform: uppercase;
    background-color: #d1e756;
    border: 2px solid transparent;
    font-size: 1rem;
    height: 2.5rem;
  }

  .subscribe:hover {
    background-color: black;
    border: 2px solid black;
    color: #d1e756;
    font-size: 1rem;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    margin-top: 1rem;
  }

  .copyright {
    font-size: 0.8rem;
  }

  .SoMe {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-block: 2rem;
  }

  a {
    text-decoration: none;
    color: black;
  }

  a:hover {
    opacity: 0.5;
  }

  i {
    color: black;
    font-size: 2rem;
  }

  h4 {
    margin-top: 1rem;
  }

  @media only screen and (min-width: 481px) {
  }

  /*__________ WEB (SMALLER SCREENS) __________*/
  @media only screen and (min-width: 769px) {
    .email {
      width: 75%;
    }

    .subscribe {
      width: 75%;
    }

    a,
    h4 {
      font-size: 1.5rem;
    }

    .email {
      width: 125%;
      font-size: 1.2rem;
    }

    .subscribe {
      width: 125%;
    }

    i {
      font-size: 3rem;
    }

    .copyright {
      font-size: 1.2rem;
    }
  }

  /*__________ WEB __________*/
  @media only screen and (min-width: 1025px) {
  }
</style>
