---
---

<header>
  <div class="stickyHeader">
    <div class="topNav">
      <div class="logo">
        <a href="/">
          <img src="img/logo.png" alt="" />
        </a>
      </div>

      <div class="burgerMenu toggleMenu">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
      </div>
    </div>
  </div>

  <div class="navItems">
    <ul class="menu">
      <li>
        <a href="/">Summer Bundle</a>
        <div class="headerUnderline"></div>
      </li>
      <li>
        <a target="_blank" href="https://quepasapapi.com/da/pages/about-us">Opskrifter</a>
        <div class="headerUnderline"></div>
      </li>
      <li>
        <a target="_blank" href="https://quepasapapi.com/da/collections/shop-all">Shop</a>
        <div class="headerUnderline"></div>
      </li>
    </ul>
  </div>
</header>

<style>
  .topNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
  }

  .logo a img {
    width: 100%;
  }

  .navItems {
    position: fixed;
    left: 100%;
    top: 0px;
    background-color: rgba(204, 233, 75, 0.98);
    width: 50%;
    height: 100vh;
    transition: 1s;
    padding-block: 1rem;
    font-size: 1rem;
    z-index: 1;
  }

  .menu {
    display: flex;
    flex-direction: column;
    padding: 5.5rem 0 0 1.5rem;
  }

  .menu li {
    list-style-type: none;
  }

  .menu li a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
  }

  .menu li a:hover {
    color: #d3e757;
  }

  .burgerMenu {
    /* position: fixed;
    top: 25px;
    right: 25px; */
    cursor: pointer;
    z-index: 10;
  }

  .bar {
    display: block;
    width: 25px;
    height: 4px;
    margin: 5px auto;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    background-color: #d3e757;
  }

  .burgerMenu.active .bar {
    background-color: black;
  }

  .burgerMenu.active .bar:nth-child(2) {
    opacity: 0;
    transition: all 0.25s ease-in-out;
  }

  .burgerMenu.active .bar:nth-child(1) {
    transform: translateY(10px) rotate(50deg);
  }
  .burgerMenu.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-50deg);
  }
  .navItems.active {
    left: 50%;
  }

  /*__________ TABLET __________*/
  @media only screen and (min-width: 481px) {
  }

  /*__________ WEB (SMALLER SCREENS) __________*/
  @media only screen and (min-width: 769px) {
    .logo a img {
      width: 150%;
    }
  }

  /*__________ WEB __________*/
  @media only screen and (min-width: 1025px) {
    .navItems {
      width: 33%;
      font-size: 1.5rem;
    }

    .navItems.active {
      left: 67%;
    }
  }
</style>
