---
---

<div class="follow">
  <p>Følg for nye produkter.</p>
  <p>Følg for inspiration.</p>
  <p class="bold">Følg vores SoMe.</p>
</div>

<div class="followInsta">
  <div class="alignBottom">
    <p>Instagram:</p>
    <a target="_blank" href="https://www.instagram.com/quepasapapiofficial/">@quepasapapiofficial</a>
  </div>
  <a target="_blank" href="https://www.instagram.com/quepasapapiofficial/">
    <img src="img/instagram.webp" alt="link to instagram" />
  </a>
</div>

<div class="followFB">
  <a target="_blank" href="https://www.facebook.com/quepasapapiofficial">
    <img src="img/facebook.webp" alt="link to facebook" />
  </a>
  <div class="alignBottom">
    <p>Facebook:</p>
    <a target="_blank" href="https://www.facebook.com/quepasapapiofficial">/quepasapapiofficial</a>
  </div>
</div>

<style>
  .follow {
    text-align: right;
    margin-right: 10%;
    margin-bottom: 5rem;
  }

  .followInsta {
    text-align: right;
    display: flex;
    gap: 1rem;
    margin-bottom: 5rem;
    margin-inline: 10%;
  }

  .followFB {
    display: flex;
    gap: 1rem;
    margin-bottom: 5rem;
    margin-inline: 10%;
  }

  .alignBottom {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .bold {
    font-weight: bold;
  }

  img {
    width: 100%;
  }

  a {
    color: black;
  }

  @media only screen and (min-width: 769px) {
    .follow {
      text-align: left;
      margin-left: 10%;
      font-size: 2rem;
    }

    .followInsta {
      display: flex;
      justify-content: flex-end;
      font-size: 1.5rem;
    }

    .followFB {
      font-size: 1.5rem;
    }

    img {
      width: 500px;
    }
  }
</style>
