---
---

<div class="follow">
  <p>Følg for nye produkter.</p>
  <p>Følg for inspiration.</p>
  <p class="bold">Følg vores SoMe.</p>
</div>

<div class="followInsta">
  <div class="alignBottom">
    <p>Instagram:</p>
    <p>@quepasapapiofficial</p>
  </div>
  <img src="img/product.webp" alt="" />
</div>

<div class="followFB">
  <img src="img/product.webp" alt="" />
  <div class="alignBottom">
    <p>Facebook:</p>
    <p>/quepasapapiofficial</p>
  </div>
</div>

<style>
  .follow {
    text-align: right;
    margin-right: 10%;
    margin-bottom: 5rem;
  }

  .followInsta {
    text-align: right;
    display: flex;
    gap: 1rem;
    margin-bottom: 5rem;
    margin-inline: 10%;
  }

  .followFB {
    display: flex;
    gap: 1rem;
    margin-bottom: 5rem;
    margin-inline: 10%;
  }

  .alignBottom {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .bold {
    font-weight: bold;
  }

  img {
    width: 100%;
  }
</style>
