---
---

<span>
  <h2>Inkluderet</h2>
  <div class="underline"></div>
</span>

<ul class="list1">
  <li>1 x Jamon Iberico</li>
  <li>1 x Salchichon Iberico</li>
  <li>1 x Chorizo Iberico</li>
  <li>1 x Lomo Gran Reserve</li>
</ul>

<ul class="list2">
  <li>Picos de Pan, Breadsticks x 1</li>
  <li>Classic Spanish Potato Chips x 1</li>
  <li>Spanish Tapas Cheese x 1</li>
  <li>Rosemary Fuet x 1</li>
</ul>

<style>
  span {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-transform: uppercase;
    padding-inline: 2rem;
  }

  .underline {
    background-color: black;
    height: 1.5px;
    width: 100%;
  }

  .list1,
  .list2 {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin-block: 2rem;
  }

  .list1 {
    padding-left: 2rem;
  }

  .list2 {
    align-items: flex-end;
    padding-right: 2rem;
  }
</style>
