---
import Button from "../components/Button.astro";
---

<div class="summerBundle">
  <img id="summerBundle" src="img/summerBundle.webp" alt="tapas summer bundle" />
  <h3>Sommerens fusion af dansk hygge og autentisk spansk tapas!</h3>
  <img id="products" src="img/productsV2.webp" alt="product img" />
  <p id="productInfo">249 Kr. // 4-6 personer // Fås juni, juli & august</p>
  <h4>Elsker du også god mad, gode venner og gode stunder?</h4>
  <p>Selvfølgelig gør du det; det er nemlig noget af det, der gør livet værd at leve. <br /> Vores mission er imidlertid ikke at ændre verden. Det vi drømmer om, er blot et liv, hvor begrænset tid og overskud ikke står i vejen for det, der betyder mest for os; at nyde gode stunder med gode mennesker. <br /> Hos Que Pasa Papi ved vi, at drømmen er lige indenfor rækkevidde; alt du skal gøre er, at gribe fat i den!</p>
  <p>Med Que Pasa Papis Summer Bundle bliver det nærmest ikke lettere: For blot <span class="price">249 Kr.</span> leverer vi en pakke propfyldt med nøje udvalgt, autentisk spansk tapas der uden besvær kan tages med, hvor end du vælger at tilbringe de gode stunder.</p>
  <p>Er du klar til at nyde livet?</p>
  <Button link="https://quepasapapi.com/cart" variant="primary" title="Bestil nu" />
</div>

<span class="heading">
  <h2>Summer Bundle</h2>
  <div class="underline"></div>
</span>
<ul class="list1">
  <li>1 x Jamon Iberico</li>
  <li>1 x Salchichon Iberico</li>
  <li>1 x Chorizo Iberico</li>
  <li>1 x Lomo Gran Reserve</li>
</ul>

<ul class="list2">
  <li>Picos de Pan, Breadsticks x 1</li>
  <li>Classic Spanish Potato Chips x 1</li>
  <li>Spanish Tapas Cheese x 1</li>
  <li>Rosemary Fuet x 1</li>
</ul>

<slot />
<Button link="https://quepasapapi.com/cart" variant="primary" title="Bestil nu" />

<style>
  .summerBundle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 6rem;
    margin-bottom: 1rem;
    gap: 1.5rem;
    text-align: center;
  }

  .summerBundle p {
    width: 80%;
  }

  #productInfo {
    width: 100%;
    font-size: 0.9rem;
  }

  img {
    width: 90%;
  }

  .heading {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-transform: uppercase;
    margin-inline: 10%;
    margin-top: 5rem;
  }

  .list1,
  .list2 {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin-block: 2rem;
  }

  .list1 {
    margin-left: 10%;
  }

  .list2 {
    align-items: flex-end;
    margin-right: 10%;
  }

  h3 {
    max-width: 90%;
    font-size: 1.2rem;
  }

  h4 {
    margin-top: 2rem;
    max-width: 90%;
  }

  #summerBundle {
    width: 80%;
  }

  .price {
    font-weight: bold;
    color: ;
  }

  /*__________ TABLET __________*/
  @media only screen and (min-width: 481px) {
    #summerBundle {
      width: 60%;
    }

    #products {
      width: 40%;
    }
  }

  /*__________ WEB (SMALLER SCREENS) __________*/
  @media only screen and (min-width: 769px) {
    h2 {
      font-size: 2rem;
    }

    h3 {
      font-size: 2rem;
      width: 40%;
    }

    ul li {
      font-size: 1.5rem;
    }

    #productInfo {
      font-size: 1.5rem;
    }

    p {
      font-size: 1.2rem;
    }

    #summerBundle {
      width: 40%;
    }
    #products {
      width: 30%;
    }
  }

  /*__________ WEB __________*/
  @media only screen and (min-width: 1025px) {
  }
</style>
